@font-face {
    font-family: 'Segoe UI';
    src: "{{asset('fonts/SegoeUI-VF.ttf')}}";
    font-weight: normal;
    font-style: normal;
}

.table-rounded {
        border-radius: 10px; 
        overflow: hidden;
    }

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 1;
    z-index: -1;
}

.foto-perfil {
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    padding: 0%;
  }

.foto-perfil img{
    object-fit: cover;
}

.topbar {
    width: 100%;
    background-color: #333;
}

.logo{
    width: 10%;
    height: 10%;
}

.white-text {
    color: white;
}

body{
    background-color: #3a3a3a;
}